body {
  background: #424242;
}

.post_wraper {
  display: flex;
  width: 800px;
  min-height: 200px;
  margin: auto;
  border: 1px solid black;
  background: #848484;
}

.user_wraper {
  width: 150px;
  min-height: 200px;
  margin: 10px;
  border: 1px solid red;
  background: #D7DF01;
}

.user_img {
  width: 130px;
  height: 130px;
  margin: 10px;
  border: 1px solid red;
}

.user_info {
  width: 130px;
  min-height: 30px;
  margin: 10px;
  word-wrap: break-word;
  border: 1px solid green;
}

.msg_wrpaer {
  display: flex;
  flex-direction: column;
  width: 610px;
  min-height: 300px;
  margin: 10px;
  border: 1px solid green;
}

.msg_title {
  width: 590px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  background: #A5DF00;
}

.text_wraper {
  width: 590px;
  min-height: 190px;
  margin: 10px;
  align-self: stretch;
  border: 1px solid black;
  background: #D8D8D8;
}

.text {
  width: 570px;
  min-height:110px;
  margin: 10px;
  border: 1px solid black;
  background: #FAFAFA;
  word-wrap: break-word;
}

.text_date {
  width: 570px;
  height: 30px;
  margin: 10px;
  border: 1px solid black;
  align-self: flex-end;
}

.answer_button {
  text-align: right;
  margin: 0px 20px 10px;
}

.new_post_button {
  text-align: center;
  margin: 20px 20px 10px;
}

.button {
  width:150px;
  height 20px;
  border-radius:20px;
  background:#459DE5;
  color:#fff;
  font-size:18px;
  cursor:pointer;
}
h5 {
  vertical-align: top;
  text-align: center;
}